

.footer__container{
    border-top: 2px solid #F8F8F8;
    padding-top: 50px;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    gap: 40px 126px;
    grid-template-areas: 
    'logo social contacts'
    'copyright . developer'
    ;
}

.footer__logo{
    grid-area: logo;
}

.footer__social{
    grid-area: social;
    display: flex;
    gap: 24px;
    justify-self: end;
    padding-top: 8px;
}
.footer__contacts{
    grid-area: contacts;
    display: grid;
    gap: 18px;
    padding-top: 8px;
}
.footer__coppy{
    grid-area: copyright;
}
.footer__developer{
    grid-area: developer;
    gap: 6px;
    display: grid;
}
.footer__item{
    flex-shrink: 0;
}

.footer__link{
    vertical-align: middle;
    transition: color .5s ease-in-out, fill .5s ease-in-out;
   
}

.footer__link-dev{
    transition: color .5s ease-in-out;

}

.footer__link:hover,
.footer__link-dev:hover{
    color: #FFD952;
}
.footer__link:hover path,
.footer__link-dev:hover path{
    fill: #FFD952;
}

.footer__item_contacts{
    display: flex;
}

.footer__link_contact{
    display: flex;
    gap: 8px; 
}

@media (max-width: 920px){
    .footer__container{
        gap: 10px 30px;
    }
    .footer__social{
        justify-self: center;
    }
    .footer__container{
        padding-top: 25px;
    }
}

@media (max-width: 540px){
    .footer__container{
        display: flex;
        flex-wrap: wrap;
        gap:10px 50px;
        align-items: center;
    }
    .footer__social{
        padding-top: 0;
    }
    .footer__contacts{
        padding-top: 0;
    }
}